aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx==0.27.2
lyricsgenius
motor>=3.7.1
pillow>=11.3.0
psutil
py-tgcalls>=2.2.5
pykeyboard
git+https://github.com/dlrmas/pyrogram.git
python-dotenv
pyyaml>=6.0.2
requests
speedtest-cli
spotipy
tgcrypto
youtube-search
youtube-search-python
yt-dlp>=2025.8.11
httpx==0.27.2
